@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.568);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/************FIRST-SECTION-CSS**************/
.center {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 0; */
  /* transform: translate(-50%, -50%); */
}

.first-appsumo .popup {
  width: 1087px;
  /* height: 326px; */
  /* background: #ffffffc4; */
  /* z-index: 2; */
  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 100ms ease-in-out, top 1000ms ease-in-out,
    top 100ms ease-in-out, transform 100ms ease-in-out;
  opacity: 0;
}
.first-appsumo .popup.active {
  opacity: 1;
  top: 0px;
  transform: scale(1);
  transition: transform 100ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
/***********POPUP-CSS*************/

.first-appsumo .progress {
  /* background: #f2ecec; */
  height: 8px;
  width: 1089px;
  /* position: absolute; */
  top: 8%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* border-radius: 20px; */
}
.first-appsumo .progress-bar {
  /* background: #5742e8; */
  background: rgb(113, 21, 114);
  background: linear-gradient(
    90deg,
    rgba(113, 21, 114, 1) 30%,
    rgba(92, 58, 207, 1) 50%,
    rgba(204, 89, 63, 1) 95%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 14px; */
  width: 0;
  height: 100%;
  /* border-radius: 20px; */
  opacity: 0;
  transition: 5s ease;
  color: #8846ea;
  font-weight: 500;
}
#dismiss-popup-btn {
  background: none;
  border: none;
  position: absolute;
  top: -5px;
  right: -4px;
  color: #959191;
  cursor: pointer;
}
.first-appsumo,
.two-appsumo,
.three-appsumo {
  width: 1087px;
}
.first-appsumo {
  /* height: 326px; */
  background: linear-gradient(
    95.15deg,
    #533fcb -11.14%,
    #9148ef 101.94%,
    #8846ea 101.94%
  );
  border-radius: 5px;
  /* z-index: -1; */
  /* position: absolute; */
  /* top: 0; */
  margin-bottom: 30px;
  padding-bottom: 45px;
}
.text-content h3 {
  font-size: 25px;
  font-weight: 700;
}
.text-content p {
  font-size: 14px;
  font-weight: 400;
  width: 423px;
  line-height: 20px;
  margin-top: 8px;
}
.text-content {
  color: #fff;
  padding-top: 12px;
  padding-left: 49px;
}
.first-appsumo form,
.two-appsumo form,
.three-appsumo form {
  width: 1025px;
}
.first-appsumo form {
  /* height: 183px; */
  background: #33229e26;
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  /* transform: translate(3%, 62%); */
  padding: 20px 20px;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 5px;
  padding-bottom: 119px;
}
.first-appsumo label,
.three-appsumo label,
.two-appsumo label {
  background-image: url("./assets/img/Vector-6.png");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right 15px center;
  font-weight: 500;
}
form div label {
  display: block;
  background: #fff;
  position: relative;
  width: 989px;
  line-height: 44px;
  cursor: pointer;
  font-size: 14px;
  /* font-weight: 500; */
  color: #8c8a8a;
  border-radius: 5px;
  padding-left: 12px;
}

form div label::before {
  position: absolute;
  cursor: pointer;
  line-height: 50px;
  content: "Choose file";
  left: 10px;
  top: 47px;
  background-image: url("./assets/img/Vector.png");
  background-repeat: no-repeat;
  z-index: 999;
  width: 129px;
  background-position: right 25% center;
  /* font-weight: 500; */
}
form div label::after {
  background-color: #fff;
  content: "";
  top: 53px;
  left: 0;
  position: absolute;
  width: 129px;
  height: 38px;
  z-index: 0;
  border-radius: 5px;
}

.first-appsumo .button,
.two-appsumo .button {
  /* position: absolute; */
  /* top: 233px; */
  background: #fff;
  width: 102px;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
  /* left: 50px; */
  margin-top: -73px;
  margin-left: 50px;
}

.button.active {
  height: 20px;
  width: 80%;
}
.button.active .uploading {
  transform: translateY(25px);
  color: #fff;
  width: 100%;
  text-align: center;
}

.uploading img {
  /* position: absolute; */
  top: 3px;
  left: 60px;
}

.first-appsumo .button .uploading,
.two-appsumo .button .uploading {
  font-size: 14px;
  /* margin-left: 10px; */
  color: #8c8a8a;
  font-weight: 500;
  /* position: relative; */
  margin-top: 10px;
  display: block;
  transition: all 0.3s ease;
  /* position: relative; */
  padding: 10px;
  display: flex;
}
.first-appsumo .button .uploading img,
.two-appsumo .button .uploading img {
  /* position: absolute; */
  /* top: 4px; */
  margin-left: 10px;
  margin-top: 2px;
  object-fit: contain;
}
/*********SECOUND-SECTION-CSS*********/
.two-appsumo .popup-two {
  width: 1087px;
  /* height: 326px; */
  /* background: #ffffffc4; */
  /* z-index: 2; */
  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out,
    top 100ms ease-in-out, transform 100ms ease-in-out;
  opacity: 0;
}
.two-appsumo .popup-two.active {
  opacity: 1;
  top: 0px;
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
/***********POPUP-CSS*************/

.two-appsumo .progress-two {
  /* background: #f2ecec; */
  height: 8px;
  width: 1089px;
  /* position: absolute; */
  top: 8%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* border-radius: 20px; */
}
.two-appsumo .progress-bar-two {
  /* background: #5742e8; */
  background: rgb(113, 21, 114);
  background: linear-gradient(
    90deg,
    rgba(113, 21, 114, 1) 30%,
    rgba(92, 58, 207, 1) 50%,
    rgba(204, 89, 63, 1) 95%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 14px; */
  width: 0;
  height: 100%;
  /* border-radius: 20px; */
  opacity: 0;
  transition: 5s ease;
  color: #8846ea;
  font-weight: 500;
}

.two-appsumo {
  /* position: absolute; */
  /* top: 65%; */
  background: linear-gradient(93.92deg, #8f0f8a -2.54%, #6d166f 101.64%);
  /* height: 282px; */
  padding-bottom: 42px;
}
.two-appsumo form {
  background: #2504261a;
  /* height: 135px; */
  /* top: 30px; */
  margin-top: 20px;
  padding: 20px 20px;
  margin-left: 30px;
  border-radius: 5px;
  padding-bottom: 70px;
}
.two-appsumo .text-content {
  padding-top: 10px;
}
.two-appsumo form div label::after {
  display: none;
}
.two-appsumo form div label::before {
  display: none;
}
input[type="number"] {
  width: 38px;
  font-size: 14px;
  padding: 10px;
  -moz-appearance: textfield;
  color: #6d166e;
  height: 38px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
}
.spinner {
  display: flex;
  font-weight: 500;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.two-appsumo .button {
  margin-top: -71px;
}
.btn {
  color: #a19c9c;
  text-decoration: none;
  background: #fff;
  font-size: 13px;
  padding-left: 18px;
  width: 95px;
  height: 38px;
  line-height: 38px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
/*********THREE-SECTION-CSS************/

.three-appsumo form {
  /* position: absolute; */
  background: #bb452b40;
  height: 135px;
  /* top: 30px; */
}
.three-appsumo {
  /* position: absolute; */
  /* top: 122%; */
  background: linear-gradient(93.99deg, #cb593f -0.98%, #df7e54 101.6%);
  height: 283px;
}
.three-appsumo form div label::after {
  position: initial;
}
.three-appsumo form div label::before {
  position: initial;
  background: none;
}
.three-appsumo .button {
  /* top: 193px; */
  margin-top: -61px;
}
/* .three-appsumo .text label::before {
  position: absolute;
  cursor: pointer;
  content: "Export";
  left: 10px;
  top: 54px;
  background-image: url("./assets/img/vector-3.png");
  background-repeat: no-repeat;
  z-index: 999;
  width: 95px;
  height: 38px;
  background-position: right 30% center;
  font-weight: 500;
  line-height: 36px;
}
.three-appsumo form .text label::after {
  background-color: #fff;
  content: "";
  top: 53px;
  left: 0;
  position: absolute;
  width: 95px;
  height: 38px;
  z-index: 0;
  border-radius: 5px;
} */
